.page-title {
    text-align: center!important;
}
.page-description{
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.text-justify {
    text-align: justify!important;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

/* Tin tuc */
#tintuc {
    
  }
  
  .titleTintuc {
    font-size: 40px;
    font-weight: 700;
    font-family: "Bai Jamjuree", sans-serif;
    color: #282a56;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .box-tintuc {
    box-shadow: 0 0 10px 2px #ccc;
    margin: 10px;
    width: 353px;
    height: 583px;
    padding: 0;
  }
  .box-tintuc1 {
    box-shadow: 0 0 10px 2px #ccc;
    margin: 10px;
    width: 353px;
    padding: 0;
  }
  
  .box-img img {
    height: 250px !important;
    width: 100%;
  }
  
  .box-content {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
  
  .box-title {
    padding: 20px 0;
  }
  .box-title a {
    text-decoration: none;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #282a56;
  }
  
  .button-tintuc {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .button-tintuc button {
    background-color: #3e449c;
    border-radius: 10px;
  }
  
  .box-tintuc:hover .button-tintuc {
    opacity: 1;
  }
  
  .button-tintuc button a {
    color: #fff;
    text-decoration: none;
  }
  
  .nd-sub-content {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
  }

.entry-title-single {
    text-align: center;
}
.entry-header img {
  width: 100%;
}